In [1]:
%load_ext nb_black

In [2]:
from dj.sql.parsing.backends.sqloxide import parse
from dj.sql.parsing.backends.exceptions import DJParseException
from dj.construction.utils import make_name, get_dj_node, amenable_name
from dj.construction.build import build_ast_for_database
from dj.construction.compile import _compile_select_ast
from dj.sql.parsing import ast
from typing import Optional, List, Tuple
from sqlmodel import Session
from dj.models.node import Node, NodeType, NodeRevision
from dj.models.database import Database
from dj.errors import DJException

WARNING:root:no boto3 module found

In [ ]:
ast.Node.validate_strict = None

In [3]:
alias = Alias(Name("b"), child=Table(Name("tbl")))

alias.replace(
    Table(Name("tbl")),
    Alias(Name("a"), child=Table(Name("tbl"))),
)

In [5]:
alias.replace?

In [8]:
print(
    """SELECT  Avg(n_comments),\n\tage \n FROM (SELECT  basic.num_comments AS n_comments,\n\tbasic.dimension.users.country AS country,\n\tbasic.dimension.users.age AS age \n FROM not_metrics\n \n GROUP BY  basic.dimension.users.country, basic.dimension.users.country)\n \n GROUP BY  age"""
)

SELECT  Avg(n_comments),
	age
 FROM (SELECT  basic.num_comments AS n_comments,
	basic.dimension.users.country AS country,
	basic.dimension.users.age AS age
 FROM not_metrics

 GROUP BY  basic.dimension.users.country, basic.dimension.users.country)

 GROUP BY  age

In [4]:
ast.Alias(ast.Name('a'), child = )

Alias(name=Name(name='a', quote_style=''), namespace=None, child=Table(name=Name(name='tbl', quote_style=''), namespace=None))

In [10]:
print("""SELECT  Avg(n_comments),\n\tage \n FROM (SELECT  basic.num_comments AS n_comments,\n\tdimension.users.basic.country AS country,\n\tdimension.users.basic.age AS age \n FROM (SELECT  COUNT(1) AS cnt,\n\tbasic.source.comments.id AS basic_DOT_source_DOT_comments_DOT_id,\n\tbasic.source.comments.user_id AS basic_DOT_source_DOT_comments_DOT_user_id,\n\tbasic.source.comments.timestamp AS basic_DOT_source_DOT_comments_DOT_timestamp,\n\tbasic.source.comments.text AS basic_DOT_source_DOT_comments_DOT_text \n FROM basic.source.comments\n \n) AS basic_DOT_num_comments\nLEFT JOIN basic.source.comments\n        ON basic_DOT_num_comments.basic_DOT_source_DOT_comments_DOT_id = basic.source.comments.id AND basic_DOT_num_comments.basic_DOT_source_DOT_comments_DOT_user_id = basic.source.comments.user_id AND basic_DOT_num_comments.basic_DOT_source_DOT_comments_DOT_timestamp = basic.source.comments.timestamp AND basic_DOT_num_comments.basic_DOT_source_DOT_comments_DOT_text = basic.source.comments.text \n GROUP BY  dimension.users.basic.country, dimension.users.basic.age)\n \n GROUP BY  age""")

SELECT  Avg(n_comments),
	age
 FROM (SELECT  basic.num_comments AS n_comments,
	dimension.users.basic.country AS country,
	dimension.users.basic.age AS age
 FROM (SELECT  COUNT(1) AS cnt,
	basic.source.comments.id AS basic_DOT_source_DOT_comments_DOT_id,
	basic.source.comments.user_id AS basic_DOT_source_DOT_comments_DOT_user_id,
	basic.source.comments.timestamp AS basic_DOT_source_DOT_comments_DOT_timestamp,
	basic.source.comments.text AS basic_DOT_source_DOT_comments_DOT_text
 FROM basic.source.comments

) AS basic_DOT_num_comments
LEFT JOIN basic.source.comments
        ON basic_DOT_num_comments.basic_DOT_source_DOT_comments_DOT_id = basic.source.comments.id AND basic_DOT_num_comments.basic_DOT_source_DOT_comments_DOT_user_id = basic.source.comments.user_id AND basic_DOT_num_comments.basic_DOT_source_DOT_comments_DOT_timestamp = basic.source.comments.timestamp AND basic_DOT_num_comments.basic_DOT_source_DOT_comments_DOT_text = basic.source.comments.text
 GROUP BY  dimension.users.basic.country, dimension.users.basic.age)

 GROUP BY  age

In [ ]:
SELECT  basic_DOT_num_users_us.sum_users 
 FROM (SELECT  SUM(basic_DOT_transform_DOT_country_agg.num_users) AS sum_users,
        basic_DOT_transform_DOT_country_agg.country AS a_DOT_country,
        basic_DOT_transform_DOT_country_agg.num_users AS a_DOT_num_users,
        b.id AS b_DOT_id,
        b.full_name AS b_DOT_full_name,
        b.names_map AS b_DOT_names_map,
        b.user_metadata AS b_DOT_user_metadata,
        b.age AS b_DOT_age,
        b.country AS b_DOT_country,
        b.gender AS b_DOT_gender,
        b.preferred_language AS b_DOT_preferred_language,
        b.secret_number AS b_DOT_secret_number 
 FROM (SELECT  basic.comments.country,
        COUNT(DISTINCT basic.comments.id) AS num_users 
 FROM basic.comments
 
 GROUP BY  basic.comments.country) AS basic_DOT_transform_DOT_country_agg
INNER JOIN basic.comments AS b
        ON basic_DOT_transform_DOT_country_agg.country = b.country 
 WHERE  basic_DOT_transform_DOT_country_agg.country = 'US' 
) AS basic_DOT_num_users_us
LEFT JOIN (SELECT  basic.comments.country,
        COUNT(DISTINCT basic.comments.id) AS num_users 
 FROM basic.comments
 
 GROUP BY  basic.comments.country) AS basic_DOT_transform_DOT_country_agg
        ON basic_DOT_num_users_us.a_DOT_country = basic_DOT_transform_DOT_country_agg.country AND basic_DOT_num_users_us.a_DOT_num_users = basic_DOT_transform_DOT_country_agg.num_users
LEFT JOIN basic.comments AS b
        ON basic_DOT_num_users_us.b_DOT_id = b.id AND basic_DOT_num_users_us.b_DOT_full_name = b.full_name AND basic_DOT_num_users_us.b_DOT_names_map = b.names_map AND basic_DOT_num_users_us.b_DOT_user_metadata = b.user_metadata AND basic_DOT_num_users_us.b_DOT_age = b.age AND basic_DOT_num_users_us.b_DOT_country = b.country AND basic_DOT_num_users_us.b_DOT_gender = b.gender AND basic_DOT_num_users_us.b_DOT_preferred_language = b.preferred_language AND basic_DOT_num_users_us.b_DOT_secret_number = b.secret_number
LEFT JOIN (SELECT  basic.comments.id,
        basic.comments.full_name,
        basic.comments.age,
        basic.comments.country,
        basic.comments.gender,
        basic.comments.preferred_language,
        basic.comments.secret_number 
 FROM basic.comments
 
) AS basic_DOT_dimension_DOT_users
        ON basic_DOT_transform_DOT_country_agg.country = basic_DOT_dimension_DOT_users.country AND basic_DOT_transform_DOT_country_agg.country = basic_DOT_dimension_DOT_users.country 
 GROUP BY  basic_DOT_dimension_DOT_users.country

In [9]:
print('''
SELECT  Avg(n_comments),\n\tage \n FROM (SELECT  basic.num_comments AS n_comments,\n\tdimension.users.basic.country AS country,\n\tdimension.users.basic.age AS age \n FROM (SELECT  COUNT(1) AS cnt,\n\tbasic.source.comments.id AS basic_DOT_source_DOT_comments_DOT_id,\n\tbasic.source.comments.user_id AS basic_DOT_source_DOT_comments_DOT_user_id,\n\tbasic.source.comments.timestamp AS basic_DOT_source_DOT_comments_DOT_timestamp,\n\tbasic.source.comments.text AS basic_DOT_source_DOT_comments_DOT_text \n FROM basic.source.comments\n \n) AS basic_DOT_num_comments\nLEFT JOIN basic.source.comments\n        ON basic_DOT_num_comments.basic_DOT_source_DOT_comments_DOT_id = basic.source.comments.id AND basic_DOT_num_comments.basic_DOT_source_DOT_comments_DOT_user_id = basic.source.comments.user_id AND basic_DOT_num_comments.basic_DOT_source_DOT_comments_DOT_timestamp = basic.source.comments.timestamp AND basic_DOT_num_comments.basic_DOT_source_DOT_comments_DOT_text = basic.source.comments.text \n GROUP BY  dimension.users.basic.country, dimension.users.basic.country)\n \n GROUP BY  age

''')

SELECT  Avg(n_comments),
	age
 FROM (SELECT  basic.num_comments AS n_comments,
	dimension.users.basic.country AS country,
	dimension.users.basic.age AS age
 FROM (SELECT  COUNT(1) AS cnt,
	basic.source.comments.id AS basic_DOT_source_DOT_comments_DOT_id,
	basic.source.comments.user_id AS basic_DOT_source_DOT_comments_DOT_user_id,
	basic.source.comments.timestamp AS basic_DOT_source_DOT_comments_DOT_timestamp,
	basic.source.comments.text AS basic_DOT_source_DOT_comments_DOT_text
 FROM basic.source.comments

) AS basic_DOT_num_comments
LEFT JOIN basic.source.comments
        ON basic_DOT_num_comments.basic_DOT_source_DOT_comments_DOT_id = basic.source.comments.id AND basic_DOT_num_comments.basic_DOT_source_DOT_comments_DOT_user_id = basic.source.comments.user_id AND basic_DOT_num_comments.basic_DOT_source_DOT_comments_DOT_timestamp = basic.source.comments.timestamp AND basic_DOT_num_comments.basic_DOT_source_DOT_comments_DOT_text = basic.source.comments.text
 GROUP BY  dimension.users.basic.country, dimension.users.basic.country)

 GROUP BY  age

In [ ]:
SELECT basic_DOT_num_users_us.sum_users
FROM    AS basic_DOT_transform_DOT_country_agg
       ,
       basic.comments,
AS
       basic_DOT_num_users_us
       LEFT JOIN  AS basic_DOT_dimension_DOT_users
              ON basic_DOT_transform_DOT_country_agg.country =
                           basic_DOT_dimension_DOT_users.country
                 AND basic_DOT_transform_DOT_country_agg.country =
                     basic_DOT_dimension_DOT_users.country
GROUP  BY basic_DOT_dimension_DOT_users.country

In [1]:
print('SELECT  Avg(n_comments) AS col0,\n\tage \n FROM (SELECT  basic_DOT_num_comments.cnt AS n_comments,\n\tbasic_DOT_dimension_DOT_users.country AS country,\n\tbasic_DOT_dimension_DOT_users.age AS age \n FROM basic.comments, (SELECT  COUNT(1) AS cnt,\n\tbasic.comments.id,\n\tbasic.comments.user_id,\n\tbasic.comments.timestamp,\n\tbasic.comments.text \n FROM basic.comments\n \n) AS basic_DOT_num_comments\nLEFT JOIN (SELECT  basic.comments.id,\n\tbasic.comments.full_name,\n\tbasic.comments.age,\n\tbasic.comments.country,\n\tbasic.comments.gender,\n\tbasic.comments.preferred_language,\n\tbasic.comments.secret_number \n FROM basic.comments\n \n) AS basic_DOT_dimension_DOT_users\n        ON basic.comments.user_id = basic_DOT_dimension_DOT_users.id AND basic.comments.user_id = basic_DOT_dimension_DOT_users.id \n GROUP BY  basic_DOT_dimension_DOT_users.country, basic_DOT_dimension_DOT_users.country)\n \n GROUP BY  age')

SELECT  Avg(n_comments) AS col0,
	age
 FROM (SELECT  basic_DOT_num_comments.cnt AS n_comments,
	basic_DOT_dimension_DOT_users.country AS country,
	basic_DOT_dimension_DOT_users.age AS age
 FROM basic.comments, (SELECT  COUNT(1) AS cnt,
	basic.comments.id,
	basic.comments.user_id,
	basic.comments.timestamp,
	basic.comments.text
 FROM basic.comments

) AS basic_DOT_num_comments
LEFT JOIN (SELECT  basic.comments.id,
	basic.comments.full_name,
	basic.comments.age,
	basic.comments.country,
	basic.comments.gender,
	basic.comments.preferred_language,
	basic.comments.secret_number
 FROM basic.comments

) AS basic_DOT_dimension_DOT_users
        ON basic.comments.user_id = basic_DOT_dimension_DOT_users.id AND basic.comments.user_id = basic_DOT_dimension_DOT_users.id
 GROUP BY  basic_DOT_dimension_DOT_users.country, basic_DOT_dimension_DOT_users.country)

 GROUP BY  age

In [2]:
a="""SELECT Avg(n_comments) AS col0,
       age
FROM   (SELECT basic_DOT_num_comments.cnt            AS n_comments,
               basic_DOT_dimension_DOT_users.country AS country,
               basic_DOT_dimension_DOT_users.age     AS age
        FROM   basic.comments,
               (SELECT Count(1) AS cnt,
                       basic.comments.id,
                       basic.comments.user_id,
                       basic.comments.timestamp,
                       basic.comments.text
                FROM   basic.comments) AS basic_DOT_num_comments
               LEFT JOIN (SELECT basic.comments.id,
                                 basic.comments.full_name,
                                 basic.comments.age,
                                 basic.comments.country,
                                 basic.comments.gender,
                                 basic.comments.preferred_language,
                                 basic.comments.secret_number
                          FROM   basic.comments) AS
                         basic_DOT_dimension_DOT_users
                      ON basic.comments.user_id =
basic_DOT_dimension_DOT_users.id
                         AND basic.comments.user_id =
                             basic_DOT_dimension_DOT_users.id
        GROUP  BY basic_DOT_dimension_DOT_users.country,
                  basic_DOT_dimension_DOT_users.country)
GROUP  BY age """
    
b="""
SELECT  Avg(n_comments) AS col0,
        age 
 FROM (SELECT  basic_DOT_num_comments.cnt AS n_comments,
        basic_DOT_dimension_DOT_users.country AS country,
        basic_DOT_dimension_DOT_users.age AS age 
 FROM basic.comments, (SELECT  COUNT(1) AS cnt,
        basic.comments.id,
        basic.comments.user_id,
        basic.comments.timestamp,
        basic.comments.text 
 FROM basic.comments
 
) AS basic_DOT_num_comments
LEFT JOIN (SELECT  basic.comments.id,
        basic.comments.full_name,
        basic.comments.age,
        basic.comments.country,
        basic.comments.gender,
        basic.comments.preferred_language,
        basic.comments.secret_number 
 FROM basic.comments
 
) AS basic_DOT_dimension_DOT_users
        ON basic.comments.user_id = basic_DOT_dimension_DOT_users.id AND basic.comments.user_id = basic_DOT_dimension_DOT_users.id 
 GROUP BY  basic_DOT_dimension_DOT_users.country, basic_DOT_dimension_DOT_users.country)
 
 GROUP BY  age"""

In [4]:
from dj.sql.parsing.backends.sqloxide import parse

WARNING:root:no boto3 module found

In [7]:
parse(a).diff(parse(b))

[(Name(name='Count', quote_style=''), Name(name='COUNT', quote_style=''))]

from dj.utils import get_session

In [5]:
from typing import Dict, List, Optional, Tuple

import pytest
from sqlmodel import Session

from dj.models import Column, Database, NodeRevision, Table
from dj.models.column import ColumnType
from dj.models.node import Node, NodeType

In [6]:
postgres = Database(name="postgres", URI="", cost=10, id=1)

gsheets = Database(name="gsheets", URI="", cost=100, id=2)

countries_dim_ref = Node(
    name="basic.dimension.countries",
    type=NodeType.DIMENSION,
    current_version="1",
)
countries_dim = NodeRevision(
    name=countries_dim_ref.name,
    type=countries_dim_ref.type,
    node=countries_dim_ref,
    version="1",
    query="""
      SELECT country,
             COUNT(1) AS user_cnt
      FROM basic.dimension.users
      GROUP BY country
    """,
    columns=[
        Column(name="country", type=ColumnType.STR),
        Column(name="user_cnt", type=ColumnType.INT),
    ],
)

user_dim_ref = Node(
    name="basic.dimension.users",
    type=NodeType.DIMENSION,
    current_version="1",
)
user_dim = NodeRevision(
    name=user_dim_ref.name,
    type=user_dim_ref.type,
    node=user_dim_ref,
    version="1",
    query="""
      SELECT id,
             full_name,
             age,
             country,
             gender,
             preferred_language,
             secret_number
      FROM basic.source.users
    """,
    columns=[
        Column(name="id", type=ColumnType.INT),
        Column(name="full_name", type=ColumnType.STR),
        Column(name="age", type=ColumnType.INT),
        Column(name="country", type=ColumnType.STR),
        Column(name="gender", type=ColumnType.STR),
        Column(name="preferred_language", type=ColumnType.STR),
        Column(name="secret_number", type=ColumnType.FLOAT),
    ],
)

country_agg_tfm_ref = Node(
    name="basic.transform.country_agg",
    type=NodeType.TRANSFORM,
    current_version="1",
)
country_agg_tfm = NodeRevision(
    name=country_agg_tfm_ref.name,
    type=country_agg_tfm_ref.type,
    node=country_agg_tfm_ref,
    version="1",
    query="""
    SELECT country,
            COUNT(DISTINCT id) AS num_users
    FROM basic.source.users
    GROUP BY country
    """,
    columns=[
        Column(
            name="country",
            type=ColumnType.STR,
            dimension=user_dim_ref,
            dimension_column="event_id",
        ),
        Column(name="num_users", type=ColumnType.INT),
    ],
)

users_src_ref = Node(
    name="basic.source.users",
    type=NodeType.SOURCE,
    current_version="1",
)
users_src = NodeRevision(
    name=users_src_ref.name,
    type=users_src_ref.type,
    node=users_src_ref,
    version="1",
    columns=[
        Column(name="id", type=ColumnType.INT),
        Column(name="full_name", type=ColumnType.STR),
        Column(name="age", type=ColumnType.INT),
        Column(name="country", type=ColumnType.STR),
        Column(name="gender", type=ColumnType.STR),
        Column(name="preferred_language", type=ColumnType.STR),
        Column(name="secret_number", type=ColumnType.FLOAT),
    ],
    tables=[
        Table(
            node_id=4249,
            schema="basic",
            table="comments",
            columns=[
                Column(name="id", type=ColumnType.INT),
                Column(name="full_name", type=ColumnType.STR),
                Column(name="age", type=ColumnType.INT),
                Column(name="country", type=ColumnType.STR),
                Column(name="gender", type=ColumnType.STR),
                Column(name="preferred_language", type=ColumnType.STR),
                Column(name="secret_number", type=ColumnType.FLOAT),
            ],
            cost=10.0,
            database=postgres,
            database_id=1,
        ),
        Table(
            node_id=4250,
            table="comments",
            columns=[
                Column(name="id", type=ColumnType.INT),
                Column(name="full_name", type=ColumnType.STR),
                Column(name="age", type=ColumnType.INT),
                Column(name="country", type=ColumnType.STR),
                Column(name="gender", type=ColumnType.STR),
                Column(name="preferred_language", type=ColumnType.STR),
                Column(name="secret_number", type=ColumnType.FLOAT),
            ],
            cost=100.0,
            database=gsheets,
            database_id=2,
        ),
    ],
)

comments_src_ref = Node(
    name="basic.source.comments",
    type=NodeType.SOURCE,
    current_version="1",
)
comments_src = NodeRevision(
    name=comments_src_ref.name,
    type=comments_src_ref.type,
    node=comments_src_ref,
    version="1",
    columns=[
        Column(name="id", type=ColumnType.INT),
        Column(
            name="user_id",
            type=ColumnType.INT,
            dimension=user_dim_ref,
        ),
        Column(name="timestamp", type=ColumnType.TIMESTAMP),
        Column(name="text", type=ColumnType.STR),
    ],
    tables=[
        Table(
            node_id=4251,
            schema="basic",
            table="comments",
            columns=[
                Column(name="id", type=ColumnType.INT),
                Column(name="user_id", type=ColumnType.INT),
                Column(name="timestamp", type=ColumnType.TIMESTAMP),
                Column(name="text", type=ColumnType.STR),
            ],
            cost=10.0,
            database=postgres,
            database_id=1,
        ),
        Table(
            node_id=4252,
            table="comments",
            columns=[
                Column(name="id", type=ColumnType.INT),
                Column(name="user_id", type=ColumnType.INT),
                Column(name="timestamp", type=ColumnType.TIMESTAMP),
                Column(name="text", type=ColumnType.STR),
            ],
            cost=100.0,
            database=gsheets,
            database_id=2,
        ),
    ],
)

num_comments_mtc_ref = Node(
    name="basic.num_comments",
    type=NodeType.METRIC,
    current_version="1",
)
num_comments_mtc = NodeRevision(
    name=num_comments_mtc_ref.name,
    type=num_comments_mtc_ref.type,
    node=num_comments_mtc_ref,
    version="1",
    query="""
    SELECT COUNT(1) AS cnt
    FROM basic.source.comments
    """,
    columns=[
        Column(name="cnt", type=ColumnType.INT),
    ],
)

num_users_mtc_ref = Node(
    name="basic.num_users",
    type=NodeType.METRIC,
    current_version="1",
)
num_users_mtc = NodeRevision(
    name=num_users_mtc_ref.name,
    type=num_users_mtc_ref.type,
    node=num_users_mtc_ref,
    version="1",
    query="""
    SELECT SUM(num_users)
    FROM basic.transform.country_agg
    """,
    columns=[
        Column(name="col0", type=ColumnType.INT),
    ],
)
num_users_us_join_mtc_ref = Node(
    name="basic.num_users_us",
    type=NodeType.METRIC,
    current_version="1",
)
num_users_us_join_mtc = NodeRevision(
    name=num_users_us_join_mtc_ref.name,
    type=num_users_us_join_mtc_ref.type,
    node=num_users_us_join_mtc_ref,
    version="1",
    query="""
    SELECT SUM(a.num_users) as sum_users
    FROM basic.transform.country_agg a
    INNER JOIN basic.source.users b
    ON a.country=b.country
    WHERE a.country='US'
    """,
    columns=[
        Column(name="sum_users", type=ColumnType.INT),
    ],
)
customers_dim_ref = Node(
    name="dbt.dimension.customers",
    type=NodeType.DIMENSION,
    current_version="1",
)
customers_dim = NodeRevision(
    name=customers_dim_ref.name,
    type=customers_dim_ref.type,
    node=customers_dim_ref,
    version="1",
    query="""
      SELECT id,
         first_name,
         last_name
      FROM dbt.source.jaffle_shop.customers
    """,
    columns=[
        Column(name="id", type=ColumnType.INT),
        Column(name="first_name", type=ColumnType.STR),
        Column(name="last_name", type=ColumnType.STR),
    ],
)

customers_agg_tfm_ref = Node(
    name="dbt.transform.customer_agg",
    type=NodeType.TRANSFORM,
    current_version="1",
)
customers_agg_tfm = NodeRevision(
    name=customers_agg_tfm_ref.name,
    type=customers_agg_tfm_ref.type,
    node=customers_agg_tfm_ref,
    version="1",
    query="""
      SELECT c.id,
             c.first_name,
             c.last_name,
             COUNT(1) AS order_cnt
      FROM dbt.source.jaffle_shop.orders o
      JOIN dbt.source.jaffle_shop.customers c ON o.user_id = c.id
      GROUP BY c.id,
               c.first_name,
               c.last_name
    """,
    columns=[
        Column(name="id", type=ColumnType.INT),
        Column(name="first_name", type=ColumnType.STR),
        Column(name="last_name", type=ColumnType.STR),
        Column(name="order_cnt", type=ColumnType.INT),
    ],
)

orders_src_ref = Node(
    name="dbt.source.jaffle_shop.orders",
    type=NodeType.SOURCE,
    current_version="1",
)
orders_src = NodeRevision(
    name=orders_src_ref.name,
    type=orders_src_ref.type,
    node=orders_src_ref,
    version="1",
    columns=[
        Column(name="id", type=ColumnType.INT),
        Column(
            name="user_id",
            type=ColumnType.INT,
            dimension=customers_dim_ref,
            dimension_column="event_id",
        ),
        Column(name="order_date", type=ColumnType.DATE),
        Column(name="status", type=ColumnType.STR),
        Column(name="_etl_loaded_at", type=ColumnType.TIMESTAMP),
    ],
    tables=[
        Table(
            node_id=4253,
            schema="jaffle_shop",
            table="orders",
            columns=[
                Column(name="id", type=ColumnType.INT),
                Column(name="user_id", type=ColumnType.INT),
                Column(name="order_date", type=ColumnType.DATE),
                Column(name="status", type=ColumnType.STR),
                Column(name="_etl_loaded_at", type=ColumnType.TIMESTAMP),
            ],
            cost=10.0,
            database=postgres,
            database_id=1,
        ),
    ],
)

customers_src_ref = Node(
    name="dbt.source.jaffle_shop.customers",
    type=NodeType.SOURCE,
    current_version="1",
)
customers_src = NodeRevision(
    name=customers_src_ref.name,
    type=customers_src_ref.type,
    node=customers_src_ref,
    version="1",
    columns=[
        Column(name="id", type=ColumnType.INT),
        Column(name="first_name", type=ColumnType.STR),
        Column(name="last_name", type=ColumnType.STR),
    ],
    tables=[
        Table(
            node_id=4254,
            schema="jaffle_shop",
            table="customers",
            columns=[
                Column(name="id", type=ColumnType.INT),
                Column(name="first_name", type=ColumnType.STR),
                Column(name="last_name", type=ColumnType.STR),
            ],
            cost=10.0,
            database=postgres,
            database_id=1,
        ),
    ],
)

session.add(postgres)
session.add(gsheets)
session.add(countries_dim)
session.add(user_dim)
session.add(country_agg_tfm)
session.add(users_src)
session.add(comments_src)
session.add(num_users_us_join_mtc)
session.add(num_comments_mtc)
session.add(num_users_mtc)
session.add(customers_dim)
session.add(customers_agg_tfm)
session.add(orders_src)
session.add(customers_src)

session.commit()

/tmp/ipykernel_81/2990427111.py:1: SAWarning: relationship 'Node.cubes' will copy column node.id to column noderevision.node_id, which conflicts with relationship(s): 'Node.revisions' (copies node.id to noderevision.node_id). If this is not the intention, consider if these relationships should be linked with back_populates, or if viewonly=True should be applied to one or more if they are read-only. For the less common case that foreign key constraints are partially overlapping, the orm.foreign() annotation can be used to isolate the columns that should be written towards.   To silence this warning, add the parameter 'overlaps="revisions"' to the 'Node.cubes' relationship. (Background on this error at: https://sqlalche.me/e/14/qzyx)
  postgres = Database(name="postgres", URI="", cost=10, id=1)
/tmp/ipykernel_81/2990427111.py:1: SAWarning: relationship 'NodeRevision.node' will copy column node.id to column noderevision.node_id, which conflicts with relationship(s): 'Node.cubes' (copies node.id to noderevision.node_id). If this is not the intention, consider if these relationships should be linked with back_populates, or if viewonly=True should be applied to one or more if they are read-only. For the less common case that foreign key constraints are partially overlapping, the orm.foreign() annotation can be used to isolate the columns that should be written towards.   To silence this warning, add the parameter 'overlaps="cubes"' to the 'NodeRevision.node' relationship. (Background on this error at: https://sqlalche.me/e/14/qzyx)
  postgres = Database(name="postgres", URI="", cost=10, id=1)
/tmp/ipykernel_81/2990427111.py:1: SAWarning: relationship 'NodeRevision.parent_links' will copy column noderevision.id to column noderelationship.child_id, which conflicts with relationship(s): 'Node.children' (copies noderevision.id to noderelationship.child_id), 'NodeRevision.parents' (copies noderevision.id to noderelationship.child_id). If this is not the intention, consider if these relationships should be linked with back_populates, or if viewonly=True should be applied to one or more if they are read-only. For the less common case that foreign key constraints are partially overlapping, the orm.foreign() annotation can be used to isolate the columns that should be written towards.   To silence this warning, add the parameter 'overlaps="children,parents"' to the 'NodeRevision.parent_links' relationship. (Background on this error at: https://sqlalche.me/e/14/qzyx)
  postgres = Database(name="postgres", URI="", cost=10, id=1)

OperationalError: (sqlite3.OperationalError) no such table: database
[SQL: INSERT INTO "database" (uuid, name, extra_params, created_at, updated_at, id, description, "URI", read_only, async, cost) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: ((<memory at 0x405a4ba980>, 'postgres', '{}', '2023-02-18 17:18:05.500705', '2023-02-18 17:18:05.500924', 1, '', '', 1, 0, 10.0), (<memory at 0x405a4baa40>, 'gsheets', '{}', '2023-02-18 17:18:05.502556', '2023-02-18 17:18:05.502567', 2, '', '', 1, 0, 100.0))]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
SELECT basic_DOT_num_users_us.sum_users
FROM   basic.transform.country_agg,
       basic.source.users,
       (SELECT Sum(a.num_users) AS sum_users,
               basic.transform.country_agg.country,
               a.num_users,
               b.id,
               b.full_name,
               b.age,
               basic.source.users.country,
               b.gender,
               b.preferred_language,
               b.secret_number
        FROM   basic.transform.country_agg AS a
               INNER JOIN basic.source.users AS b
                       ON a.country = b.country
        WHERE  a.country = 'US') AS basic_DOT_num_users_us
GROUP  BY dimension.users.basic.country

In [11]:
get_session??

Object `get_session` not found.

In [5]:
session = next(get_session())

In [14]:
q = """SELECT    basic_dot_num_users_us.sum_users
FROM      (
                   SELECT   basic.comments.country,
                            Count(DISTINCT basic.comments.id) AS num_users
                   FROM     basic.comments
                   GROUP BY basic.comments.country) AS basic_dot_transform_dot_country_agg,
          basic.comments,
          (
                     SELECT     Sum(a.num_users) AS sum_users,
                                a.country,
                                a.num_users,
                                b.id,
                                b.full_name,
                                b.age,
                                b.country,
                                b.gender,
                                b.preferred_language,
                                b.secret_number
                     FROM       (
                                         SELECT   basic.comments.country,
                                                  Count(DISTINCT basic.comments.id) AS num_users
                                         FROM     basic.comments
                                         GROUP BY basic.comments.country) a
                     INNER JOIN basic.comments                            AS b
                     ON         a.country = b.country
                     WHERE      a.country = 'US' ) AS basic_dot_num_users_us
LEFT JOIN
          (
                 SELECT basic.comments.id,
                        basic.comments.full_name,
                        basic.comments.age,
                        basic.comments.country,
                        basic.comments.gender,
                        basic.comments.preferred_language,
                        basic.comments.secret_number
                 FROM   basic.comments ) AS basic_dot_dimension_dot_users
ON        basic_dot_transform_dot_country_agg.country = basic_dot_dimension_dot_users.country
AND       basic_dot_transform_dot_country_agg.country = basic_dot_dimension_dot_users.country
GROUP BY  basic_dot_dimension_dot_users.country"""

In [15]:
parse(q)

Query(select=Select(from_=From(tables=[Alias(name=Name(name='basic_dot_transform_dot_country_agg', quote_style=''), namespace=None, child=Select(from_=From(tables=[Table(name=Name(name='comments', quote_style=''), namespace=Namespace(names=[Name(name='basic', quote_style='')]))], joins=[]), group_by=[Column(name=Name(name='country', quote_style=''), namespace=Namespace(names=[Name(name='basic', quote_style=''), Name(name='comments', quote_style='')]), _api_column=False)], having=None, projection=[Column(name=Name(name='country', quote_style=''), namespace=Namespace(names=[Name(name='basic', quote_style=''), Name(name='comments', quote_style='')]), _api_column=False), Alias(name=Name(name='num_users', quote_style=''), namespace=None, child=Function(name=Name(name='Count', quote_style=''), namespace=Namespace(names=[]), args=[Column(name=Name(name='id', quote_style=''), namespace=Namespace(names=[Name(name='basic', quote_style=''), Name(name='comments', quote_style='')]), _api_column=False)], distinct=True, over=None))], where=None, limit=None, distinct=False, order_by=[])), Table(name=Name(name='comments', quote_style=''), namespace=Namespace(names=[Name(name='basic', quote_style='')])), Alias(name=Name(name='basic_dot_num_users_us', quote_style=''), namespace=None, child=Select(from_=From(tables=[Alias(name=Name(name='a', quote_style=''), namespace=None, child=Select(from_=From(tables=[Table(name=Name(name='comments', quote_style=''), namespace=Namespace(names=[Name(name='basic', quote_style='')]))], joins=[]), group_by=[Column(name=Name(name='country', quote_style=''), namespace=Namespace(names=[Name(name='basic', quote_style=''), Name(name='comments', quote_style='')]), _api_column=False)], having=None, projection=[Column(name=Name(name='country', quote_style=''), namespace=Namespace(names=[Name(name='basic', quote_style=''), Name(name='comments', quote_style='')]), _api_column=False), Alias(name=Name(name='num_users', quote_style=''), namespace=None, child=Function(name=Name(name='Count', quote_style=''), namespace=Namespace(names=[]), args=[Column(name=Name(name='id', quote_style=''), namespace=Namespace(names=[Name(name='basic', quote_style=''), Name(name='comments', quote_style='')]), _api_column=False)], distinct=True, over=None))], where=None, limit=None, distinct=False, order_by=[]))], joins=[Join(kind=JoinKind.Inner, table=Alias(name=Name(name='b', quote_style=''), namespace=None, child=Table(name=Name(name='comments', quote_style=''), namespace=Namespace(names=[Name(name='basic', quote_style='')]))), on=BinaryOp(op=BinaryOpKind.Eq, left=Column(name=Name(name='country', quote_style=''), namespace=Namespace(names=[Name(name='a', quote_style='')]), _api_column=False), right=Column(name=Name(name='country', quote_style=''), namespace=Namespace(names=[Name(name='b', quote_style='')]), _api_column=False)))]), group_by=[], having=None, projection=[Alias(name=Name(name='sum_users', quote_style=''), namespace=None, child=Function(name=Name(name='Sum', quote_style=''), namespace=Namespace(names=[]), args=[Column(name=Name(name='num_users', quote_style=''), namespace=Namespace(names=[Name(name='a', quote_style='')]), _api_column=False)], distinct=False, over=None)), Column(name=Name(name='country', quote_style=''), namespace=Namespace(names=[Name(name='a', quote_style='')]), _api_column=False), Column(name=Name(name='num_users', quote_style=''), namespace=Namespace(names=[Name(name='a', quote_style='')]), _api_column=False), Column(name=Name(name='id', quote_style=''), namespace=Namespace(names=[Name(name='b', quote_style='')]), _api_column=False), Column(name=Name(name='full_name', quote_style=''), namespace=Namespace(names=[Name(name='b', quote_style='')]), _api_column=False), Column(name=Name(name='age', quote_style=''), namespace=Namespace(names=[Name(name='b', quote_style='')]), _api_column=False), Column(name=Name(name='country', quote_style=''), namespace=Namespace(names=[Name(name='b', quote_style='')]), _api_column=False), Column(name=Name(name='gender', quote_style=''), namespace=Namespace(names=[Name(name='b', quote_style='')]), _api_column=False), Column(name=Name(name='preferred_language', quote_style=''), namespace=Namespace(names=[Name(name='b', quote_style='')]), _api_column=False), Column(name=Name(name='secret_number', quote_style=''), namespace=Namespace(names=[Name(name='b', quote_style='')]), _api_column=False)], where=BinaryOp(op=BinaryOpKind.Eq, left=Column(name=Name(name='country', quote_style=''), namespace=Namespace(names=[Name(name='a', quote_style='')]), _api_column=False), right=String(value='US')), limit=None, distinct=False, order_by=[]))], joins=[Join(kind=JoinKind.LeftOuter, table=Alias(name=Name(name='basic_dot_dimension_dot_users', quote_style=''), namespace=None, child=Select(from_=From(tables=[Table(name=Name(name='comments', quote_style=''), namespace=Namespace(names=[Name(name='basic', quote_style='')]))], joins=[]), group_by=[], having=None, projection=[Column(name=Name(name='id', quote_style=''), namespace=Namespace(names=[Name(name='basic', quote_style=''), Name(name='comments', quote_style='')]), _api_column=False), Column(name=Name(name='full_name', quote_style=''), namespace=Namespace(names=[Name(name='basic', quote_style=''), Name(name='comments', quote_style='')]), _api_column=False), Column(name=Name(name='age', quote_style=''), namespace=Namespace(names=[Name(name='basic', quote_style=''), Name(name='comments', quote_style='')]), _api_column=False), Column(name=Name(name='country', quote_style=''), namespace=Namespace(names=[Name(name='basic', quote_style=''), Name(name='comments', quote_style='')]), _api_column=False), Column(name=Name(name='gender', quote_style=''), namespace=Namespace(names=[Name(name='basic', quote_style=''), Name(name='comments', quote_style='')]), _api_column=False), Column(name=Name(name='preferred_language', quote_style=''), namespace=Namespace(names=[Name(name='basic', quote_style=''), Name(name='comments', quote_style='')]), _api_column=False), Column(name=Name(name='secret_number', quote_style=''), namespace=Namespace(names=[Name(name='basic', quote_style=''), Name(name='comments', quote_style='')]), _api_column=False)], where=None, limit=None, distinct=False, order_by=[])), on=BinaryOp(op=BinaryOpKind.And, left=BinaryOp(op=BinaryOpKind.Eq, left=Column(name=Name(name='country', quote_style=''), namespace=Namespace(names=[Name(name='basic_dot_transform_dot_country_agg', quote_style='')]), _api_column=False), right=Column(name=Name(name='country', quote_style=''), namespace=Namespace(names=[Name(name='basic_dot_dimension_dot_users', quote_style='')]), _api_column=False)), right=BinaryOp(op=BinaryOpKind.Eq, left=Column(name=Name(name='country', quote_style=''), namespace=Namespace(names=[Name(name='basic_dot_transform_dot_country_agg', quote_style='')]), _api_column=False), right=Column(name=Name(name='country', quote_style=''), namespace=Namespace(names=[Name(name='basic_dot_dimension_dot_users', quote_style='')]), _api_column=False))))]), group_by=[Column(name=Name(name='country', quote_style=''), namespace=Namespace(names=[Name(name='basic_dot_dimension_dot_users', quote_style='')]), _api_column=False)], having=None, projection=[Column(name=Name(name='sum_users', quote_style=''), namespace=Namespace(names=[Name(name='basic_dot_num_users_us', quote_style='')]), _api_column=False)], where=None, limit=None, distinct=False, order_by=[]), ctes=[])

In [ ]:
SELECT basic_DOT_num_users_us.sum_users
FROM   (SELECT basic.comments.country,
               Count(DISTINCT basic.comments.id) AS num_users
        FROM   basic.comments
        GROUP  BY basic.comments.country) AS basic_DOT_transform_DOT_country_agg
       ,
       basic.comments,
       (SELECT Sum(a.num_users) AS sum_users,
               a.country,
               a.num_users,
               b.id,
               b.full_name,
               b.age,
               b.country,
               b.gender,
               b.preferred_language,
               b.secret_number
        FROM   (SELECT basic.comments.country,
                       Count(DISTINCT basic.comments.id) AS num_users
                FROM   basic.comments
                GROUP  BY basic.comments.country) AS
               basic_DOT_transform_DOT_country_agg
               INNER JOIN basic.comments AS b
                       ON basic_DOT_transform_DOT_country_agg.country =
                          b.country
        WHERE  a.country = 'US') AS basic_DOT_num_users_us
       LEFT JOIN (SELECT basic.comments.id,
                         basic.comments.full_name,
                         basic.comments.age,
                         basic.comments.country,
                         basic.comments.gender,
                         basic.comments.preferred_language,
                         basic.comments.secret_number
                  FROM   basic.comments) AS basic_DOT_dimension_DOT_users
              ON basic_DOT_transform_DOT_country_agg.country =
                           basic_DOT_dimension_DOT_users.country
                 AND basic_DOT_transform_DOT_country_agg.country =
                     basic_DOT_dimension_DOT_users.country
GROUP  BY basic_DOT_dimension_DOT_users.country

In [6]:
print(
    "SELECT  basic_DOT_num_users_us.sum_users \n FROM (SELECT  basic.comments.country,\n\tCOUNT(DISTINCT basic.comments.id) AS num_users \n FROM basic.comments\n \n GROUP BY  basic.comments.country) AS basic_DOT_transform_DOT_country_agg, basic.comments, (SELECT  SUM(a.num_users) AS sum_users,\n\ta.country,\n\ta.num_users,\n\tb.id,\n\tb.full_name,\n\tb.age,\n\tb.country,\n\tb.gender,\n\tb.preferred_language,\n\tb.secret_number \n FROM (SELECT  basic.comments.country,\n\tCOUNT(DISTINCT basic.comments.id) AS num_users \n FROM basic.comments\n \n GROUP BY  basic.comments.country) AS basic_DOT_transform_DOT_country_agg\nINNER JOIN basic.comments AS b\n        ON basic_DOT_transform_DOT_country_agg.country = b.country \n WHERE  a.country = 'US' \n) AS basic_DOT_num_users_us\nLEFT JOIN (SELECT  basic.comments.id,\n\tbasic.comments.full_name,\n\tbasic.comments.age,\n\tbasic.comments.country,\n\tbasic.comments.gender,\n\tbasic.comments.preferred_language,\n\tbasic.comments.secret_number \n FROM basic.comments\n \n) AS basic_DOT_dimension_DOT_users\n        ON basic_DOT_transform_DOT_country_agg.country = basic_DOT_dimension_DOT_users.country AND basic_DOT_transform_DOT_country_agg.country = basic_DOT_dimension_DOT_users.country \n GROUP BY  basic_DOT_dimension_DOT_users.country")

SELECT  basic_DOT_num_users_us.sum_users
 FROM (SELECT  basic.comments.country,
	COUNT(DISTINCT basic.comments.id) AS num_users
 FROM basic.comments

 GROUP BY  basic.comments.country) AS basic_DOT_transform_DOT_country_agg, basic.comments, (SELECT  SUM(a.num_users) AS sum_users,
	a.country,
	a.num_users,
	b.id,
	b.full_name,
	b.age,
	b.country,
	b.gender,
	b.preferred_language,
	b.secret_number
 FROM (SELECT  basic.comments.country,
	COUNT(DISTINCT basic.comments.id) AS num_users
 FROM basic.comments

 GROUP BY  basic.comments.country) AS basic_DOT_transform_DOT_country_agg
INNER JOIN basic.comments AS b
        ON basic_DOT_transform_DOT_country_agg.country = b.country
 WHERE  a.country = 'US'
) AS basic_DOT_num_users_us
LEFT JOIN (SELECT  basic.comments.id,
	basic.comments.full_name,
	basic.comments.age,
	basic.comments.country,
	basic.comments.gender,
	basic.comments.preferred_language,
	basic.comments.secret_number
 FROM basic.comments

) AS basic_DOT_dimension_DOT_users
        ON basic_DOT_transform_DOT_country_agg.country = basic_DOT_dimension_DOT_users.country AND basic_DOT_transform_DOT_country_agg.country = basic_DOT_dimension_DOT_users.country
 GROUP BY  basic_DOT_dimension_DOT_users.country

In [6]:
query = """
SELECT Avg(n_comments),
       Avg(n_users),
       age
FROM   (SELECT basic.num_comments            AS n_comments,
               basic.num_users               AS n_users,
               basic.dimension.users.country country,
               basic.dimension.users.age     AS age
        FROM   metrics
        GROUP  BY basic.dimension.users.country, basic.dimension.users.country)
GROUP  BY age 
"""

In [7]:
"""
Functions for making queries directly against DJ
"""

from typing import Optional, Tuple, cast

from sqlmodel import Session

from dj.construction.build import build_ast_for_database
from dj.construction.utils import amenable_name, get_dj_node, make_name
from dj.models.database import Database
from dj.models.node import NodeType
from dj.sql.parsing import ast
from dj.sql.parsing.backends.exceptions import DJParseException
from dj.sql.parsing.backends.sqloxide import parse


async def build_dj_metric_query(  # pylint: disable=R0914,R0912
    session: Session,
    query: str,
    dialect: Optional[str] = None,
    database_id: Optional[int] = None,
) -> Tuple[ast.Query, Database]:
    """
    Build a dj query in SQL that may include dj metrics
    """
    query_ast = parse(query, dialect)
    select = query_ast._to_select()  # pylint: disable=W0212
    # we check all columns looking for metric nodes
    for col in select.find_all(ast.Column):
        froms = []
        col_name = make_name(col.namespace, col.name.name)
        if metric_node := get_dj_node(
            session,
            col_name,
            {NodeType.METRIC},
            raise_=False,
        ):
            # if we found a metric node we need to check where it came from
            parent_select = cast(ast.Select, col.get_nearest_parent_of_type(ast.Select))
            if not getattr(parent_select, "_validated", False):# we haven't seen this
                if len(parent_select.from_.tables) != 1 or parent_select.from_.joins:
                    raise DJParseException(
                        "Any SELECT referencing a Metric must source "
                        "from a single unaliased Table named `metrics`.",
                    )
                metrics_ref = parent_select.from_.tables[0]
                try:
                    metrics_ref_name = make_name(
                        metrics_ref.namespace,  # type: ignore
                        metrics_ref.name.name,  # type: ignore
                    )
                except AttributeError:
                    metrics_ref_name = ""
                if metrics_ref_name != "metrics":
                    raise DJParseException(
                        "The name of the table in a Metric query must be `metrics`.",
                    )
                parent_select.from_ = ast.From([])# clear the FROM to prep it for the actual tables
                parent_select._validated = True  # pylint: disable=W0212

            # we have a metric from `metrics`
            metric_name = amenable_name(metric_node.name)
            metric_select = parse(  # pylint: disable=W0212
                cast(str, metric_node.query),
            )._to_select()
            tables = metric_select.from_.tables + [
                join.table for join in metric_select.from_.joins
            ]
            # we go through all the dep nodes directly in the metric's from
            # we need to surface the node itself to join potential dims
            # and to surface the node we need to source all its columns
            # - in the metric for an implicit join
            for table in tables:
                if isinstance(table, ast.Select):
                    continue#pragma: no cover
                if isinstance(table, ast.Alias):
                    if isinstance(table.child, ast.Select):
                        continue
                    table = table.child
                table_name = make_name(table.namespace, table.name.name)
                if table_node := get_dj_node(
                    session,
                    table_name,
                    {NodeType.SOURCE, NodeType.TRANSFORM, NodeType.DIMENSION},
                    raise_=False,
                ):
                    metric_select.projection += [
                        ast.Column(ast.Name(col.name)) for col in table_node.columns
                    ]
                    froms.append(table.copy())

            metric_table_expression = ast.Alias(
                ast.Name(metric_name),
                None,
                metric_select,
            )
            froms.append(metric_table_expression)  # type: ignore
            metric_column = ast.Column(
                ast.Name(metric_node.columns[0].name),
                _table=metric_table_expression,
            )
            parent_select.replace(col, metric_column)
            parent_select.from_.tables += froms

    # make the ast aware of all dimensions that are mentioned
    # that have come from the api
    for col in select.find_all(ast.Column):
        col_name = make_name(col.namespace)
        if get_dj_node(session, col_name, {NodeType.DIMENSION}, raise_=False):
            col.set_api_column(True)

    return await build_ast_for_database(
        session,
        query=ast.Query(select),
        dialect=dialect,
        database_id=database_id,
    )

In [8]:
%pdb

Automatic pdb calling has been turned ON

In [8]:
a, db = await build_dj_metric_query(session, query)

/usr/local/lib/python3.10/site-packages/sqlmodel/orm/session.py:60: SAWarning: relationship 'Node.cubes' will copy column node.id to column noderevision.node_id, which conflicts with relationship(s): 'Node.revisions' (copies node.id to noderevision.node_id). If this is not the intention, consider if these relationships should be linked with back_populates, or if viewonly=True should be applied to one or more if they are read-only. For the less common case that foreign key constraints are partially overlapping, the orm.foreign() annotation can be used to isolate the columns that should be written towards.   To silence this warning, add the parameter 'overlaps="revisions"' to the 'Node.cubes' relationship. (Background on this error at: https://sqlalche.me/e/14/qzyx)
  results = super().execute(
/usr/local/lib/python3.10/site-packages/sqlmodel/orm/session.py:60: SAWarning: relationship 'NodeRevision.node' will copy column node.id to column noderevision.node_id, which conflicts with relationship(s): 'Node.cubes' (copies node.id to noderevision.node_id). If this is not the intention, consider if these relationships should be linked with back_populates, or if viewonly=True should be applied to one or more if they are read-only. For the less common case that foreign key constraints are partially overlapping, the orm.foreign() annotation can be used to isolate the columns that should be written towards.   To silence this warning, add the parameter 'overlaps="cubes"' to the 'NodeRevision.node' relationship. (Background on this error at: https://sqlalche.me/e/14/qzyx)
  results = super().execute(
/usr/local/lib/python3.10/site-packages/sqlmodel/orm/session.py:60: SAWarning: relationship 'NodeRevision.parent_links' will copy column noderevision.id to column noderelationship.child_id, which conflicts with relationship(s): 'Node.children' (copies noderevision.id to noderelationship.child_id), 'NodeRevision.parents' (copies noderevision.id to noderelationship.child_id). If this is not the intention, consider if these relationships should be linked with back_populates, or if viewonly=True should be applied to one or more if they are read-only. For the less common case that foreign key constraints are partially overlapping, the orm.foreign() annotation can be used to isolate the columns that should be written towards.   To silence this warning, add the parameter 'overlaps="children,parents"' to the 'NodeRevision.parent_links' relationship. (Background on this error at: https://sqlalche.me/e/14/qzyx)
  results = super().execute(

> /tmp/ipykernel_208/3252020500.py(70)build_dj_metric_query()
     68             metric_select.add_aliases_to_unnamed_columns()
     69             import pdb; pdb.set_trace()
---> 70             tables = metric_select.from_.tables + [
     71                 join.table for join in metric_select.from_.joins
     72             ]

ipdb> c
> /tmp/ipykernel_208/3252020500.py(70)build_dj_metric_query()
     68             metric_select.add_aliases_to_unnamed_columns()
     69             import pdb; pdb.set_trace()
---> 70             tables = metric_select.from_.tables + [
     71                 join.table for join in metric_select.from_.joins
     72             ]

ipdb> c

In [9]:
print(a)

SELECT  Avg(n_comments) AS "_col0",
	Avg(n_users) AS "_col1",
	age
 FROM (SELECT  basic_DOT_num_comments.cnt AS n_comments,
	basic_DOT_num_users._col0 AS n_users,
	basic_DOT_dimension_DOT_users.country AS country,
	basic_DOT_dimension_DOT_users.age AS age
 FROM comments, (SELECT  COUNT(1) AS cnt,
	comments.id,
	comments.user_id,
	comments.timestamp,
	comments.text
 FROM comments

) AS basic_DOT_num_comments, (SELECT  users.country,
	COUNT(DISTINCT users.id) AS num_users
 FROM users

 GROUP BY  1) AS basic_DOT_transform_DOT_country_agg, (SELECT  SUM(basic_DOT_transform_DOT_country_agg.num_users) AS "_col0",
	basic_DOT_transform_DOT_country_agg.country,
	basic_DOT_transform_DOT_country_agg.num_users
 FROM (SELECT  users.country,
	COUNT(DISTINCT users.id) AS num_users
 FROM users

 GROUP BY  1) AS basic_DOT_transform_DOT_country_agg

) AS basic_DOT_num_users
LEFT JOIN (SELECT  users.id,
	users.full_name,
	users.age,
	users.country,
	users.gender,
	users.preferred_language,
	users.secret_number
 FROM users

) AS basic_DOT_dimension_DOT_users
        ON comments.user_id = basic_DOT_dimension_DOT_users.id AND comments.user_id = basic_DOT_dimension_DOT_users.id
 GROUP BY  basic_DOT_dimension_DOT_users.country, basic_DOT_dimension_DOT_users.country)

 GROUP BY  age

In [11]:
async def build_dj_query(
    session: Session,
    query: str,
    dialect: Optional[str] = None,
    database_id: Optional[int] = None,
) -> Tuple[ast.Query, Database]:
    """
    Build a dj query
    """
    query_ast = parse(query, dialect)
    select = query_ast._to_select()

    for col in select.find_all(ast.Column):
        froms = []
        col_name = make_name(col.namespace, col.name.name)
        if metric_node := get_dj_node(
            session, col_name, {NodeType.METRIC}, raise_=False
        ):
            parent_select = col.get_nearest_parent_of_type(ast.Select)
            if not getattr(parent_select, "_validated", False):
                if len(parent_select.from_.tables) != 1 or parent_select.from_.joins:
                    raise DJParseException(
                        "Any SELECT referencing a Metric must source from a single unaliased Table named 'metrics.'."
                    )
                metrics_ref = parent_select.from_.tables[0]
                metrics_ref_name = make_name(
                    metrics_ref.namespace, metrics_ref.name.name
                )
                if metrics_ref_name != "metrics":
                    raise DJParseException(
                        "The name of the table for a Metric select must be 'metrics'."
                    )
                parent_select.from_ = ast.From([])
                parent_select._validated = True

            metric_name = amenable_name(metric_node.name)
            metric_select = parse(metric_node.query)._to_select()
            tables = metric_select.from_.tables + [
                join.table for join in metric_select.from_.joins
            ]
            for table in tables:
                if isinstance(table, ast.Select):
                    continue
                if isinstance(table, ast.Alias):
                    if isinstance(table.child, ast.Select):
                        continue
                    table = table.child
                table_name = make_name(table.namespace, table.name.name)
                if table_node := get_dj_node(
                    session,
                    table_name,
                    {NodeType.SOURCE, NodeType.TRANSFORM, NodeType.DIMENSION},
                    raise_=False,
                ):
                    metric_select.projection += [
                        ast.Column(ast.Name(col.name)) for col in table_node.columns
                    ]
                    froms.append(table.copy())

            metric_table_expression = ast.Alias(
                ast.Name(metric_name), None, metric_select
            )
            froms.append(metric_table_expression)
            metric_column = ast.Column(
                ast.Name(metric_node.columns[0].name), _table=metric_table_expression
            )
            parent_select.replace(col, metric_column)
            parent_select.from_.tables += froms

    for col in select.find_all(ast.Column):
        col_name = make_name(col.namespace)
        if get_dj_node(session, col_name, {NodeType.DIMENSION}, raise_=False):
            col.set_api_column(True)

    return await build_ast_for_database(
        session, query=ast.Query(select), dialect=dialect, database_id=database_id
    )

In [12]:
query_ast, db = await build_dj_query(session, query)

In [13]:
print(query_ast)

SELECT  Avg(n_comments),
	age
 FROM (SELECT  basic_DOT_num_comments.cnt AS n_comments,
	basic_DOT_dimension_DOT_users.country AS country,
	basic_DOT_dimension_DOT_users.age AS age
 FROM comments, (SELECT  COUNT(1) AS cnt,
	comments.id,
	comments.user_id,
	comments.timestamp,
	comments.text
 FROM comments

) AS basic_DOT_num_comments
LEFT JOIN (SELECT  users.id,
	users.full_name,
	users.age,
	users.country,
	users.gender,
	users.preferred_language,
	users.secret_number
 FROM users

) AS basic_DOT_dimension_DOT_users
        ON comments.user_id = basic_DOT_dimension_DOT_users.id AND comments.user_id = basic_DOT_dimension_DOT_users.id
 GROUP BY  basic_DOT_dimension_DOT_users.country, basic_DOT_dimension_DOT_users.country)

 GROUP BY  age

In [10]:
from sqlalchemy.sql import text

In [11]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/site-packages (from pandas) (1.24.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: pip install --upgrade pip

In [12]:
import pandas as pd

In [13]:
with db.engine.connect() as conn:
    df = pd.read_sql(
        text(str(a)),
        conn,
    )

In [14]:
df

   _col0  _col1   age
0   21.0    6.0  10.0
1   21.0    6.0  15.0
2   21.0    6.0  20.0
3   21.0    6.0  25.0
4   21.0    6.0  27.0
5   21.0    6.0  29.0

!pip install sqlglot

In [6]:
from sqlglot import parse_one, exp

In [16]:
%pdb

Automatic pdb calling has been turned ON

In [17]:
parse('''SELECT measures_map["measures_name"] AS measure_name FROM foo''')

DJParseException: Failed to parse Expression

> /code/dj/sql/parsing/backends/sqloxide.py(152)parse_expression()
    150                 parse_tree["Subquery"],
    151             )._to_select()
--> 152     raise DJParseException("Failed to parse Expression")  # pragma: no cover
    153
    154

ipdb> parse_tree
{'MapAccess': {'column': {'Identifier': {'value': 'measures_map', 'quote_style': None}}, 'keys': [{'Value': {'SingleQuotedString': 'measures_name'}}]}}
ipdb> q

In [9]:
long = """
SELECT
  "e"."employee_id" AS "Employee #",
  "e"."first_name" || ' ' || "e"."last_name" AS "Name",
  "e"."email" AS "Email",
  "e"."phone_number" AS "Phone",
  TO_CHAR("e"."hire_date", 'MM/DD/YYYY') AS "Hire Date",
  TO_CHAR("e"."salary", 'L99G999D99', 'NLS_NUMERIC_CHARACTERS = ''.,'' NLS_CURRENCY = ''$''') AS "Salary",
  "e"."commission_pct" AS "Commission %",
  'works as ' || "j"."job_title" || ' in ' || "d"."department_name" || ' department (manager: ' || "dm"."first_name" || ' ' || "dm"."last_name" || ') and immediate supervisor: ' || "m"."first_name" || ' ' || "m"."last_name" AS "Current Job",
  TO_CHAR("j"."min_salary", 'L99G999D99', 'NLS_NUMERIC_CHARACTERS = ''.,'' NLS_CURRENCY = ''$''') || ' - ' || TO_CHAR("j"."max_salary", 'L99G999D99', 'NLS_NUMERIC_CHARACTERS = ''.,'' NLS_CURRENCY = ''$''') AS "Current Salary",
  "l"."street_address" || ', ' || "l"."postal_code" || ', ' || "l"."city" || ', ' || "l"."state_province" || ', ' || "c"."country_name" || ' (' || "r"."region_name" || ')' AS "Location",
  "jh"."job_id" AS "History Job ID",
  'worked from ' || TO_CHAR("jh"."start_date", 'MM/DD/YYYY') || ' to ' || TO_CHAR("jh"."end_date", 'MM/DD/YYYY') || ' as ' || "jj"."job_title" || ' in ' || "dd"."department_name" || ' department' AS "History Job Title",
  case when 1 then 1 when 2 then 2 when 3 then 3 when 4 then 4 when 5 then 5 else a(b(c + 1 * 3 % 4)) end
FROM "employees" AS e
JOIN "jobs" AS j
  ON "e"."job_id" = "j"."job_id"
LEFT JOIN "employees" AS m
  ON "e"."manager_id" = "m"."employee_id"
LEFT JOIN "departments" AS d
  ON "d"."department_id" = "e"."department_id"
LEFT JOIN "employees" AS dm
  ON "d"."manager_id" = "dm"."employee_id"
LEFT JOIN "locations" AS l
  ON "d"."location_id" = "l"."location_id"
LEFT JOIN "countries" AS c
  ON "l"."country_id" = "c"."country_id"
LEFT JOIN "regions" AS r
  ON "c"."region_id" = "r"."region_id"
LEFT JOIN "job_history" AS jh
  ON "e"."employee_id" = "jh"."employee_id"
LEFT JOIN "jobs" AS jj
  ON "jj"."job_id" = "jh"."job_id"
LEFT JOIN "departments" AS dd
  ON "dd"."department_id" = "jh"."department_id"
ORDER BY
  "e"."employee_id"
"""

short = "select 1 as a, case when 1 then 1 when 2 then 2 else 3 end as b, c from x"

crazy = "SELECT 1+"
crazy += "+".join(str(i) for i in range(500))
crazy += " AS a, 2*"
crazy += "*".join(str(i) for i in range(500))
crazy += " AS b FROM x"

tpch = """
WITH "_e_0" AS (
  SELECT
    "partsupp"."ps_partkey" AS "ps_partkey",
    "partsupp"."ps_suppkey" AS "ps_suppkey",
    "partsupp"."ps_supplycost" AS "ps_supplycost"
  FROM "partsupp" AS "partsupp"
), "_e_1" AS (
  SELECT
    "region"."r_regionkey" AS "r_regionkey",
    "region"."r_name" AS "r_name"
  FROM "region" AS "region"
  WHERE
    "region"."r_name" = 'EUROPE'
)
SELECT
  "supplier"."s_acctbal" AS "s_acctbal",
  "supplier"."s_name" AS "s_name",
  "nation"."n_name" AS "n_name",
  "part"."p_partkey" AS "p_partkey",
  "part"."p_mfgr" AS "p_mfgr",
  "supplier"."s_address" AS "s_address",
  "supplier"."s_phone" AS "s_phone",
  "supplier"."s_comment" AS "s_comment"
FROM (
  SELECT
    "part"."p_partkey" AS "p_partkey",
    "part"."p_mfgr" AS "p_mfgr",
    "part"."p_type" AS "p_type",
    "part"."p_size" AS "p_size"
  FROM "part" AS "part"
  WHERE
    "part"."p_size" = 15
    AND "part"."p_type" LIKE '%BRASS'
) AS "part"
LEFT JOIN (
  SELECT
    MIN("partsupp"."ps_supplycost") AS "_col_0",
    "partsupp"."ps_partkey" AS "_u_1"
  FROM "_e_0" AS "partsupp"
  CROSS JOIN "_e_1" AS "region"
  JOIN (
    SELECT
      "nation"."n_nationkey" AS "n_nationkey",
      "nation"."n_regionkey" AS "n_regionkey"
    FROM "nation" AS "nation"
  ) AS "nation"
    ON "nation"."n_regionkey" = "region"."r_regionkey"
  JOIN (
    SELECT
      "supplier"."s_suppkey" AS "s_suppkey",
      "supplier"."s_nationkey" AS "s_nationkey"
    FROM "supplier" AS "supplier"
  ) AS "supplier"
    ON "supplier"."s_nationkey" = "nation"."n_nationkey"
    AND "supplier"."s_suppkey" = "partsupp"."ps_suppkey"
  GROUP BY
    "partsupp"."ps_partkey"
) AS "_u_0"
  ON "part"."p_partkey" = "_u_0"."_u_1"
CROSS JOIN "_e_1" AS "region"
JOIN (
  SELECT
    "nation"."n_nationkey" AS "n_nationkey",
    "nation"."n_name" AS "n_name",
    "nation"."n_regionkey" AS "n_regionkey"
  FROM "nation" AS "nation"
) AS "nation"
  ON "nation"."n_regionkey" = "region"."r_regionkey"
JOIN "_e_0" AS "partsupp"
  ON "part"."p_partkey" = "partsupp"."ps_partkey"
JOIN (
  SELECT
    "supplier"."s_suppkey" AS "s_suppkey",
    "supplier"."s_name" AS "s_name",
    "supplier"."s_address" AS "s_address",
    "supplier"."s_nationkey" AS "s_nationkey",
    "supplier"."s_phone" AS "s_phone",
    "supplier"."s_acctbal" AS "s_acctbal",
    "supplier"."s_comment" AS "s_comment"
  FROM "supplier" AS "supplier"
) AS "supplier"
  ON "supplier"."s_nationkey" = "nation"."n_nationkey"
  AND "supplier"."s_suppkey" = "partsupp"."ps_suppkey"
WHERE
  "partsupp"."ps_supplycost" = "_u_0"."_col_0"
  AND NOT "_u_0"."_u_1" IS NULL
ORDER BY
  "supplier"."s_acctbal" DESC,
  "nation"."n_name",
  "supplier"."s_name",
  "part"."p_partkey"
LIMIT 100
"""

In [12]:
from dj.sql.parsing.backends.sqloxide import parse

In [14]:
parse(long)

DJParseException: Unknown operator StringConcat

In [18]:
from dj.typing import ColumnType

In [20]:
ColumnType.ROW[ColumnType.MAP[ColumnType.STR, ColumnType.STR], ColumnType.STR, ColumnType.ARRAY[ColumnType.STR]]

ColumnTypeError: MAP[STR, is not an acceptable type.

> /code/dj/typing.py(244)_validate_type()
    242         type_ = ALIASES.get(type_, type_)
    243         if type_ not in PRIMITIVE_TYPES:
--> 244             raise ColumnTypeError(f"{type_} is not an acceptable type.")
    245         return ColumnType(type_)
    246

ipdb> q

In [21]:
ColumnType.Row[ColumnType.STR, "INT id", ColumnType.ARRAY[ColumnType.bytes]]

'ROW[STR, INT, ARRAY[BYTES]]'

In [26]:
ColumnType.Row["STR name", "INT age"].args[0].name

'name'